---
layout: base-layout.njk
---


<section class="s2 ">
  <div class="section-wrapper">

    <div class="art-content content">
      <div class="image-container">
        <div .second-div>
          <a href="{{ spotifyLink }}" target="_blank"><img src="images/{{ coverArt }}" class="images"></a>
        </div>

      </div>
    </div>

    <div class="info-container content">
      <div class="info-content ">
        <h2 class="project-name">{{ projectName }}</h2>
        <ul class="credit-list">
        {{ content | safe}}
        </ul>
      </div>
    </div>

  </div>
</section>
