div.ball {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  mix-blend-mode: difference;
  z-index: 2;
  background: white;
}

div.ball-1 {
    background: #fff;
}
